/* Header -----------------------*/
.Header {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.HeaderTitle    {
    font-size: 32px;
    margin-top: -110px;
}

.HeaderLogo {
    font-size: 56px;
    text-transform: uppercase;
    margin-top: -10px;
    margin-bottom: 10px;
}

.HeaderIcon {
    font-size: 32px;
    margin-top: -10px;
}


/* Projects ---------------------*/
.Projects   {
    padding-top: 80px;
    padding-bottom: 80px;
}

.ProjectsTitle {
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    margin-bottom: 60px;
}

.ProjectsContainer  {
    width: 520px;
    margin-left: auto;
    margin-right: auto;
}

.ProjectFrame   {
    width: 520px;
    height: 174px;
}



/* Media ------------------------*/
@media (max-width: 1160px)  {
    .Header {
        padding-left: 15px;
        padding-right: 15px;
    }
    .HeaderTitle    {
        font-size: 26px;
        margin-top: -100px;
    }    
    .HeaderLogo {
        font-size: 46px;
    }
    .ProjectsContainer  {
        width: 320px;
    }
    .ProjectFrame   {
        width: 300px;
        height: 144px;
    }
}