/*
    Snake game experiment
    Copyright 2020 Alexandr 'JFAexe' Konichenko
*/

canvas {
    border:          1px solid var(--color-text);
}

.window {
    display:         flex;
    justify-content: center;
    margin-top:      20px;
}

.info {
    display:         flex;
    flex-direction:  column;
    justify-content: center;
    align-items:     center;
}

.info .text {
    font-size:       32px;
    text-align:      center;
}

.info .buttons {
    font-size:       24px;
    justify-content: space-around;
    align-items:     center;
    text-align:      center;
}

.desktop {
    display:         none;
}

.mobile {
    font-size:       48px;
    width:           72px;
    height:          72px;
    margin-top:      20px;
}