/*
    Personal light landing page v2.2
    Copyright 2020 Alexandr 'JFAexe' Konichenko
    Uses
        Normalize.css
            https://github.com/necolas/normalize.css
        Anonymous Pro
            https://fonts.google.com/specimen/Anonymous+Pro
*/

/* Theme colors */
:root {
    --color-white:    #fff;
    --color-black:    #000;
    --color-lgray:    #eee;
    --color-dgray:    #111;
}

.darkmode {
    --color-back:     var(--color-black);
    --color-text:     var(--color-white);
    --color-code:     var(--color-dgray);
}


/* Base style */
html {
    --color-back:     var(--color-white);
    --color-text:     var(--color-black);
    --color-code:     var(--color-lgray);
    scroll-behavior:  smooth;
    overflow-y:       scroll;
}

body {
    background:       var(--color-back);
    color:            var(--color-text);
    font-family:      'Anonymous Pro', monospace;
    line-height:      1.6;
    margin:           120px auto;
    padding:          0 30px;
    transition:       all ease-in-out 0.25s;
    cursor:           default;
}

header {
    text-decoration:  none;
    margin:           -4px;
}

header h1 {
    color:            var(--color-back);
    background:       var(--color-text);
    font-size:        48px;
    margin-top:       0;
    margin-bottom:    0;
    padding-left:     0.5ch;
}

header p {
    margin-top:       4px;
    margin-bottom:    0;
    padding-left:     0.5ch;
}

nav {
    font-size:        20px;
    padding-top:      0.5ch;
}

h1 {
    font-weight:      normal;
}

a {
    color:            var(--color-text);
    text-decoration:  none;
    border-bottom:    1px solid var(--color-text);
}

a:hover {
    color:            var(--color-back);
    background:       var(--color-text);
    text-decoration:  none;
    padding:          4px;
    margin:           -4px;
}

pre {
    word-wrap:        break-word;
    white-space:      pre-wrap;
}

hr {
    border:           none;
    background-color: var(--color-text);
    height:           1px;
}


/* Adaptive? container */
.container {
    margin:           auto;
    max-width:        740px;
}


/* Block container */
.block {
    display:          flex-box;
}

.block .title {
    font-size:        28px;
}

.block .obj {
    font-size:        20px;
    padding-left:     1ch;
}

.block .obj .date {
    display:          inline-block;
    font-size:        18px;
}

.block .obj .date::after {
    content:          ' - ';
}


/* Experiments */
.code {
    background-color: var(--color-code);
    border-bottom:    1px solid var(--color-text);
    font-size:        14px;
    tab-size:         4;
    margin:           1ch;
    padding:          1ch;
}