/*
    Personal light landing page

    Copyright 2020 Alexandr 'JFAexe' Konichenko

    Uses
        Minimized Normalize.css
            https://github.com/necolas/normalize.css
        Anonymous Pro font
            https://fonts.google.com/specimen/Anonymous+Pro
*/

/* Theme colors */
:root {
    --color-white:   #fff;
    --color-black:   #000;
    --color-lgray:   #eee;
    --color-dgray:   #111;
}

.darkmode {
    --color-back:    var(--color-black);
    --color-text:    var(--color-white);
    --color-code:    var(--color-dgray);
}


/* Base style */
html {
    --color-back:    var(--color-white);
    --color-text:    var(--color-black);
    --color-code:    var(--color-lgray);
    scroll-behavior: smooth;
    overflow-y:      scroll;
}

body {
    background:      var(--color-back);
    color:           var(--color-text);
    font-family:     'Anonymous Pro', monospace;
    line-height:     1.6;
    margin:          6vh auto 0;
    max-width:       740px;
    padding:         4vw 4vh;
    transition:      background 0.2s ease-in-out, color 0.2s ease-in-out;
    cursor:          default;
}

header {
    text-decoration: none;
    margin:          -4px;
}

header h1 {
    color:           var(--color-back);
    background:      var(--color-text);
    font-size:       48px;
    margin:          0;
    padding-left:    0.5ch;
    word-break:      break-all;
}

header p {
    margin:          4px 0;
    padding-left:    0.5ch;
}

nav {
    font-size:       20px;
    margin-top:      0.5ch;
}

h1 {
    font-weight:     normal;
}

a {
    color:           var(--color-text);
    text-decoration: none;
    border-bottom:   1px solid var(--color-text);
}

a:hover {
    color:           var(--color-back);
    background:      var(--color-text);
    text-decoration: none;
    padding:         4px;
    margin:          -4px;
}

p {
    margin:          0;
}

pre {
    word-wrap:       break-word;
    white-space:     pre-wrap;
}

hr {
    border:          none;
    background:      var(--color-text);
    height:          1px;
}

ul {
    list-style:      square outside;
    margin:          0 2ch;
    padding-left:    2ch;
}

ul li::before {
    width:           2ch;
}

ul .ul__title {
    margin-left:     -2ch;
}


/* Elements */
.content-block {
    margin:          0.5ch auto;
}

.block__title {
    font-size:       28px;
}

.block__object {
    font-size:       20px;
    padding-left:    1ch;
}

.object__date {
    display:         inline-block;
    font-size:       18px;
}

.object__date::after {
    content:         ' - ';
}

.about-block {
    font-size:       18px;
    margin:          2ch auto;
}

.code-block {
    background:      var(--color-code);
    border-bottom:   1px solid var(--color-text);
    font-size:       14px;
    tab-size:        4;
    margin:          1ch;
    padding:         1ch;
}

.button {
    appearance:      none;
    background:      var(--color-code);
    color:           var(--color-text);
    border:          none;
    border-radius:   0;
    border-bottom:   1px solid var(--color-text);
    text-decoration: none;
}

.button:hover {
    color:           var(--color-back);
    background:      var(--color-text);
    text-decoration: none;
}


/* Decoration */
:focus, :active {
    outline:         none;
}

::-webkit-scrollbar {
    width:           1ch;
    height:          1ch;
}
  
::-webkit-scrollbar-track {
    background:      var(--color-back);
}

::-webkit-scrollbar-thumb {
    background:      var(--color-code);
}

::-webkit-scrollbar-thumb:hover {
    background:      var(--color-text);
}

::selection {
    color:           var(--color-back);
    background:      var(--color-text);
}